##### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a popular document-oriented NoSQL database management system. It provides a flexible and scalable approach to storing and managing data. Non-relational databases, also known as NoSQL databases, differ from traditional SQL (relational) databases in their data storage and retrieval models.

In a non-relational database like MongoDB, data is organized and stored as flexible, self-contained documents. These documents can contain a variety of data types and structures, such as key-value pairs, arrays, and nested objects.

MongoDB is preferred over SQL databases in these scenarios:

1.Flexibility of schema: MongoDB is suitable when the data structure is expected to evolve over time or when there is a need for handling unstructured or semi-structured data. Its schema-less nature allows for easy modifications without the need for altering predefined table structures.

2.Scalability and performance: 
MongoDB excels in handling large amounts of data and high traffic loads. It supports horizontal scaling through sharding, distributing data across multiple servers, which allows it to handle massive workloads and accommodate growing data volumes.

3.Real-time data:
 MongoDB is well-suited for real-time applications that require fast reads and writes. Its flexible document model and indexing capabilities enable efficient retrieval of data, making it suitable for use cases like real-time analytics, content management systems, and social media platforms.

4.Replication and high availability: 
MongoDB offers built-in replication and failover mechanisms, ensuring data redundancy and high availability. It can automatically replicate data across multiple nodes, providing fault tolerance and minimizing downtime

It's important to note that while MongoDB offers advantages in certain scenarios, SQL databases like PostgreSQL or MySQL are still preferable for use cases that require complex transactions, strict data consistency, and extensive join operations across multiple tables. The choice between MongoDB and SQL databases depends on the specific needs of the application and the nature of the data being stored and accessed.

##### Q2. State and Explain the features of MongoDB.

##### 1.Document-Oriented:
MongoDB stores data in flexible and self-contained documents, allowing for easy representation of complex relationships and hierarchical data.

##### 2.Scalability: 
MongoDB scales horizontally by distributing data across multiple servers or clusters, enabling efficient handling of large datasets and high traffic loads.

##### 3.High Availability: 
MongoDB ensures continuous availability through replica sets, where data is automatically replicated across multiple nodes, providing fault tolerance.

##### 4.Indexing: 
MongoDB supports various indexing techniques to optimize query performance, including multi-key indexes, text indexes, and geospatial indexes.

##### 5.Replication and Data Consistency: 
MongoDB provides data replication for redundancy and consistency, ensuring that changes made to the primary node are automatically replicated to secondary nodes.

##### 6.Flexible Data Model: MongoDB's flexible schema allows for easy modification of documents without affecting other documents, facilitating agile development and schema evolution.

##### 7.GridFS: 
MongoDB includes GridFS, a built-in file storage system for efficient storage and retrieval of large files, such as images or videos.

##### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [48]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://tejaswini:honey@cluster0.xlfgwqz.mongodb.net/?retryWrites=true&w=majority")
db=client["database"]
collection=database["documents"]
data={"name":"teja","age":19,"branch":"csm"}

In [3]:
collection.insert_one(data)

##### Q4. Using the database and the collection created in question number 3, write a code to insert one record,and insert many records. Use the find() and find_one() methods to print the inserted record.

In [4]:
data1={"id":1,"name":"honey","placedin":"amazon"}

In [5]:
collection.insert_one(data1)

In [7]:
data2=[{"com_id":2,"com":"flipkart","name":"harish"},
       {"com_id":3,"com":"Huron","name":"kushi"},
       {"com_id":4,"com":"amazon","name":"madhu"},
       {"com_id":5,"com":"flipkart","name":"karuna"},
       {"com_id":6,"com":"flipkart","name":"teju"}]

In [8]:
collection.insert_many(data2)

In [9]:
for i in collection.find():
    print(i)

{'_id': ObjectId('6494410d2542ebf61adb676e'), 'name': 'teja', 'age': 19, 'branch': 'csm'}
{'_id': ObjectId('649442312542ebf61adb676f'), 'id': 1, 'name': 'honey', 'placedin': 'amazon'}
{'_id': ObjectId('649443a62542ebf61adb6770'), 'com_id': 2, 'com': 'flipkart', 'name': 'harish'}
{'_id': ObjectId('649443a62542ebf61adb6771'), 'com_id': 3, 'com': 'Huron', 'name': 'kushi'}
{'_id': ObjectId('649443a62542ebf61adb6772'), 'com_id': 4, 'com': 'amazon', 'name': 'madhu'}
{'_id': ObjectId('649443a62542ebf61adb6773'), 'com_id': 5, 'com': 'flipkart', 'name': 'karuna'}
{'_id': ObjectId('649443a62542ebf61adb6774'), 'com_id': 6, 'com': 'flipkart', 'name': 'teju'}
{'_id': ObjectId('64944acf140f87a7000d44de'), 'name': 'teja', 'age': 19, 'branch': 'csm'}
{'_id': ObjectId('64944ad5140f87a7000d44df'), 'id': 1, 'name': 'honey', 'placedin': 'amazon'}
{'_id': ObjectId('64944adc140f87a7000d44e0'), 'com_id': 2, 'com': 'flipkart', 'name': 'harish'}
{'_id': ObjectId('64944adc140f87a7000d44e1'), 'com_id': 3, 'com': 'Huron', 'name': 'kushi'}
{'_id': ObjectId('64944adc140f87a7000d44e2'), 'com_id': 4, 'com': 'amazon', 'name': 'madhu'}
{'_id': ObjectId('64944adc140f87a7000d44e3'), 'com_id': 5, 'com': 'flipkart', 'name': 'karuna'}
{'_id': ObjectId('64944adc140f87a7000d44e4'), 'com_id': 6, 'com': 'flipkart', 'name': 'teju'}

In [10]:
collection.find_one()

{'_id': ObjectId('6494410d2542ebf61adb676e'),
 'name': 'teja',
 'age': 19,
 'branch': 'csm'}

##### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

The find() method in MongoDB allows you to query a collection and retrieve documents that match specified criteria. It returns a cursor object that can be iterated over to access the matching documents.

#### Syntax:
collection.find(query, projection)

  collection: The collection you want to query.
  query: The query document that specifies the search criteria.
  projection (optional): Defines which fields should be returned or excluded from the result.

In [11]:
for i in collection.find({"com":"flipkart"}):
      print(i)

{'_id': ObjectId('649443a62542ebf61adb6770'), 'com_id': 2, 'com': 'flipkart', 'name': 'harish'}
{'_id': ObjectId('649443a62542ebf61adb6773'), 'com_id': 5, 'com': 'flipkart', 'name': 'karuna'}
{'_id': ObjectId('649443a62542ebf61adb6774'), 'com_id': 6, 'com': 'flipkart', 'name': 'teju'}
{'_id': ObjectId('64944adc140f87a7000d44e0'), 'com_id': 2, 'com': 'flipkart', 'name': 'harish'}
{'_id': ObjectId('64944adc140f87a7000d44e3'), 'com_id': 5, 'com': 'flipkart', 'name': 'karuna'}
{'_id': ObjectId('64944adc140f87a7000d44e4'), 'com_id': 6, 'com': 'flipkart', 'name': 'teju'}

In [12]:
result=collection.find({"age":{'$gt':18}})

In [13]:
for i in result:
    print(i)

{'_id': ObjectId('6494410d2542ebf61adb676e'), 'name': 'teja', 'age': 19, 'branch': 'csm'}
{'_id': ObjectId('64944acf140f87a7000d44de'), 'name': 'teja', 'age': 19, 'branch': 'csm'}

In [14]:
result1=collection.find({"age":19,"name":"teja"})

In [15]:
for i in result1:
    print(i)

{'_id': ObjectId('6494410d2542ebf61adb676e'), 'name': 'teja', 'age': 19, 'branch': 'csm'}
{'_id': ObjectId('64944acf140f87a7000d44de'), 'name': 'teja', 'age': 19, 'branch': 'csm'}

##### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB allows you to sort the result of a query in ascending or descending order based on one or more fields. It is used to order the documents returned by a query according to a specified sorting criteria. The sort() method can be applied to a cursor object obtained from the find() method.

Syntax : collection.find(query).sort(sort_key, sort_order)

collection: The collection you want to query.

query: The query document that specifies the search criteria.

sort_key: The field or fields based on which the sorting should be performed.

sort_order (optional): The sorting order, which can be pymongo.ASCENDING (ascending order) or pymongo.DESCENDING (descending order).

If multiple fields are used for sorting, MongoDB will sort the documents based on the first field and then the subsequent fields if there are any ties.

EX:
data10=[{"name":"v.tej","age":19},
        {"name":"v.kushi","age":20},
        {"name":"manu","age":17}]
        
collection.insert_many(data10)
mydb.collection.find().sort({"age":1})

##### Q7. Explain why delete_one(), delete_many(), and drop() is used.

The methods delete_one(), delete_many(), and drop() in MongoDB are used to remove data from a collection or to delete an entire collection. 

##### 1.delete_one(filter):
The delete_one() method is used to delete a single document that matches the specified filter criteria. It removes the first document that matches the filter from the collection.

Syntax:
collection.delete_one(filter)

collection: The collection from which the document is to be deleted.

filter: A query document that specifies the criteria for selecting the document to be deleted.

Ex: 
collection.delete_one({"name": "John Doe"})

##### 2.delete_many(filter):
The delete_many() method is used to delete multiple documents that match the specified filter criteria. It removes all documents that match the filter from the collection.

Ex:collection.delete_many({"age": {"$gt": 30}})

##### 3.drop():
The drop() method is used to delete an entire collection from the database. It removes all the documents and indexes associated with
 the collection.

Ex: collection.drop()

In [66]:
collection.delete_one({"name":"teja"})

In [67]:
for i in collection.find():
    print(i)

{'_id': ObjectId('649442312542ebf61adb676f'), 'id': 1, 'name': 'honey', 'placedin': 'amazon'}
{'_id': ObjectId('649443a62542ebf61adb6770'), 'com_id': 2, 'com': 'flipkart', 'name': 'harish'}
{'_id': ObjectId('649443a62542ebf61adb6771'), 'com_id': 3, 'com': 'Huron', 'name': 'kushi'}
{'_id': ObjectId('649443a62542ebf61adb6772'), 'com_id': 4, 'com': 'amazon', 'name': 'madhu'}
{'_id': ObjectId('649443a62542ebf61adb6773'), 'com_id': 5, 'com': 'flipkart', 'name': 'karuna'}
{'_id': ObjectId('649443a62542ebf61adb6774'), 'com_id': 6, 'com': 'flipkart', 'name': 'teju'}
{'_id': ObjectId('64944acf140f87a7000d44de'), 'name': 'teja', 'age': 19, 'branch': 'csm'}
{'_id': ObjectId('64944ad5140f87a7000d44df'), 'id': 1, 'name': 'honey', 'placedin': 'amazon'}
{'_id': ObjectId('64944adc140f87a7000d44e0'), 'com_id': 2, 'com': 'flipkart', 'name': 'harish'}
{'_id': ObjectId('64944adc140f87a7000d44e1'), 'com_id': 3, 'com': 'Huron', 'name': 'kushi'}
{'_id': ObjectId('64944adc140f87a7000d44e2'), 'com_id': 4, 'com': 'amazon', 'name': 'madhu'}
{'_id': ObjectId('64944adc140f87a7000d44e3'), 'com_id': 5, 'com': 'flipkart', 'name': 'karuna'}
{'_id': ObjectId('64944adc140f87a7000d44e4'), 'com_id': 6, 'com': 'flipkart', 'name': 'teju'}
{'_id': ObjectId('64944e38140f87a7000d44e5'), 'name': 'meghana', 'age': 20, 'branch': 'ece'}
{'_id': ObjectId('64944e38140f87a7000d44e6'), 'name': 'reddy', 'age': 17, 'branch': 'csm'}
{'_id': ObjectId('64944e38140f87a7000d44e7'), 'name': 'bindu', 'age': 19, 'branch': 'ece'}
{'_id': ObjectId('64944fa7140f87a7000d44e8'), 'roll_no': 12, 'name': 'meghana', 'age': 20, 'branch': 'ece'}
{'_id': ObjectId('64944fa7140f87a7000d44e9'), 'roll_no': 9, 'name': 'reddy', 'age': 17, 'branch': 'csm'}
{'_id': ObjectId('64944fa7140f87a7000d44ea'), 'roll_no': 10, 'name': 'bindu', 'age': 19, 'branch': 'ece'}
{'_id': ObjectId('649455ca140f87a7000d44ef'), 'name': 'v.tej', 'age': 19}
{'_id': ObjectId('649455ca140f87a7000d44f0'), 'name': 'v.kushi', 'age': 20}
{'_id': ObjectId('649455ca140f87a7000d44f1'), 'name': 'manu', 'age': 17}

In [68]:
collection.delete_many({"age":19})

In [69]:
for i in collection.find():
    print(i)

{'_id': ObjectId('649442312542ebf61adb676f'), 'id': 1, 'name': 'honey', 'placedin': 'amazon'}
{'_id': ObjectId('649443a62542ebf61adb6770'), 'com_id': 2, 'com': 'flipkart', 'name': 'harish'}
{'_id': ObjectId('649443a62542ebf61adb6771'), 'com_id': 3, 'com': 'Huron', 'name': 'kushi'}
{'_id': ObjectId('649443a62542ebf61adb6772'), 'com_id': 4, 'com': 'amazon', 'name': 'madhu'}
{'_id': ObjectId('649443a62542ebf61adb6773'), 'com_id': 5, 'com': 'flipkart', 'name': 'karuna'}
{'_id': ObjectId('649443a62542ebf61adb6774'), 'com_id': 6, 'com': 'flipkart', 'name': 'teju'}
{'_id': ObjectId('64944ad5140f87a7000d44df'), 'id': 1, 'name': 'honey', 'placedin': 'amazon'}
{'_id': ObjectId('64944adc140f87a7000d44e0'), 'com_id': 2, 'com': 'flipkart', 'name': 'harish'}
{'_id': ObjectId('64944adc140f87a7000d44e1'), 'com_id': 3, 'com': 'Huron', 'name': 'kushi'}
{'_id': ObjectId('64944adc140f87a7000d44e2'), 'com_id': 4, 'com': 'amazon', 'name': 'madhu'}
{'_id': ObjectId('64944adc140f87a7000d44e3'), 'com_id': 5, 'com': 'flipkart', 'name': 'karuna'}
{'_id': ObjectId('64944adc140f87a7000d44e4'), 'com_id': 6, 'com': 'flipkart', 'name': 'teju'}
{'_id': ObjectId('64944e38140f87a7000d44e5'), 'name': 'meghana', 'age': 20, 'branch': 'ece'}
{'_id': ObjectId('64944e38140f87a7000d44e6'), 'name': 'reddy', 'age': 17, 'branch': 'csm'}
{'_id': ObjectId('64944fa7140f87a7000d44e8'), 'roll_no': 12, 'name': 'meghana', 'age': 20, 'branch': 'ece'}
{'_id': ObjectId('64944fa7140f87a7000d44e9'), 'roll_no': 9, 'name': 'reddy', 'age': 17, 'branch': 'csm'}
{'_id': ObjectId('649455ca140f87a7000d44f0'), 'name': 'v.kushi', 'age': 20}
{'_id': ObjectId('649455ca140f87a7000d44f1'), 'name': 'manu', 'age': 17}

In [70]:
collection.drop()

In [71]:
for i in collection.find():
    print(i)